@page "/collectionView/{ipfSAddress}/{collectionId}/{increment}"
@using LoopheadsExplorer.Data
@using LoopheadsExplorer.Models
@using System.Diagnostics
@inject EthereumService EthereumService
@inject IpfsService IpfsService


<PageTitle>Collection</PageTitle>
<h1>Collection #@collectionId</h1>

@if(loopheadIpfsLinks.Count == 0)
{
    <p>Retrieving data...</p>
}
else
{
    int count = 0;
    int collectionCount = 1;
    
    foreach(var loopheadIpfsLink in loopheadIpfsLinks)
    {
        int collectionIdIncrement = collectionCount + Int32.Parse(increment);
        if(count != 1000)
        {   
            var tempCount = count;
            <h2>Loophead #@collectionIdIncrement <button type="button" class="btn btn-primary" @onclick="@(e => GetLoopheadMetadataLinks(e, loopheadIpfsLink.cid, tempCount))">View variations</button></h2>
        }
        @if(loopheadIpfsLinks.Any(x => x.loopheads.Count > 0))
        {
            @:@{
                var tabId = "myTab" + collectionCount.ToString();
                <ul class="nav nav-tabs" id="@tabId" role="tablist">
                @foreach (var loopheadVariations in loopheadIpfsLink.loopheads)
                {
                    if (loopheadVariations.baseCid == loopheadIpfsLink.cid)
                    {
                      string variationNavTabId = "nav" + collectionIdIncrement.ToString() + loopheadVariations.baseId.ToString() + @loopheadVariations.variation.ToString() + "-tab";
                      string variationNavTabTarget = "nav" + collectionIdIncrement.ToString() + loopheadVariations.baseId.ToString() + @loopheadVariations.variation.ToString();
                      <li class="nav-item" role="presentation">
                          <button class="nav-link" id="@variationNavTabId"  data-bs-toggle="tab" data-bs-target="#@variationNavTabTarget" type="button" role="tab" aria-controls="@variationNavTabTarget" aria-selected="false" @onclick="@(e => GetLoopheadMetadata(e, loopheadVariations.metadataCidLink))">@loopheadVariations.baseId-@loopheadVariations.variation</button>
                      </li>
                        //<h3>Variation #@loopheadVariations.baseId-@loopheadVariations.variation <button type="button" class="btn btn-primary" @onclick="@(e => GetLoopheadMetadata(e, loopheadVariations.metadataCidLink))">View metadata</button></h3>

                    }
                }
                </ul>
                var tabContentId = "myTabContent" + collectionCount.ToString();
                <div class="tab-content" id="@tabContentId">
                    @foreach (var loopheadVariations in loopheadIpfsLink.loopheads)
                    {
                        if (loopheadVariations.baseCid == loopheadIpfsLink.cid)
                        {
                            string variationTabPaneId =  "nav" + collectionIdIncrement.ToString() + loopheadVariations.baseId.ToString() + @loopheadVariations.variation.ToString();
                            string variationTabPaneTarget =  "nav" + collectionIdIncrement.ToString() + loopheadVariations.baseId.ToString() + @loopheadVariations.variation.ToString() + "-tab";
                            <div class="tab-pane fade" id="@variationTabPaneId" role="tabpanel" aria-labelledby="@variationTabPaneTarget">
                                 @if (loopheadVariations.metadata != null)
                                 {
                                     <LoopheadMetadataView loopheadMetadata="loopheadVariations.metadata" ipfsGatewayUrl="@cloudflareIpfsGatewayUrl" />
                                 }
                            </div>
                        }                        
                    }
                </div>
            }
        }
        count++;
        collectionCount++;
    }

}


@code {
    private List<LoopheadIpfsLink> loopheadIpfsLinks;
    private List<bool> variationButtonStates;
    private List<bool> metadataButtonStates;

    [Parameter]
    public string ipfsAddress { get; set; }
    [Parameter]
    public string collectionId { get; set; }
    [Parameter]
    public string increment { get; set; }


    private string cloudflareIpfsGatewayUrl = "https://cloudflare-ipfs.com/ipfs/";

    protected override async Task OnInitializedAsync()
    {
        loopheadIpfsLinks = new List<LoopheadIpfsLink>();
        variationButtonStates = new List<bool>();
        //string baseUri = await EthereumService.GetLoopheadBaseUri(contractAddress);
        IpfsData ipfsDataLevelOne = await IpfsService.GetDirectoryContents(ipfsAddress);
        //IpfsData ipfsDataLevelTwo = await IpfsService.GetDirectoryContents(ipfsDataLevelOne.links[0].Cid.value)
        foreach(var links in ipfsDataLevelOne.links)
        {
            if(links.Name != "mint-params.json")
            {
                LoopheadIpfsLink loopheadIpfsLink = new LoopheadIpfsLink
                {
                    name = links.Name,
                    cid = links.Cid.value
                };
                loopheadIpfsLinks.Add(loopheadIpfsLink);
                variationButtonStates.Add(false);
            }
        } 
    }

    private async void GetLoopheadMetadataLinks(MouseEventArgs e, string loopheadMetadataLink, int buttonId)
    {
        variationButtonStates[buttonId] = true;
        IpfsData ipfsDataLevelTwo = await IpfsService.GetDirectoryContents(loopheadMetadataLink);
        if(ipfsDataLevelTwo != null)
        {
            foreach(var link in ipfsDataLevelTwo.links)
            {
                foreach(var ipfsLink in loopheadIpfsLinks)
                {
                    //Debug.WriteLine(ipfsLink.cid);
                    //Debug.WriteLine(loopheadMetadataLink);
                    if(ipfsLink.cid == loopheadMetadataLink)
                    {
                        Loophead loophead = new Loophead
                            {
                                baseCid = loopheadMetadataLink,
                                baseId = link.Name.Split('_')[0],
                                variation = link.Name.Split('_')[1],
                                metadataCidLink = link.Cid.value
                            };
                        ipfsLink.loopheads.Add(loophead);
                        break;
                    }
                }
            }
            StateHasChanged();
        }        
    }

    private async void GetLoopheadMetadata(MouseEventArgs e, string loopheadMetadataLink)
    {
        IpfsData ipfsDataLevelThree = await IpfsService.GetDirectoryContents(loopheadMetadataLink);
        if(ipfsDataLevelThree != null)
        {
            LoopheadMetadata loopheadMetadata = await IpfsService.GetLoopheadMetadata(ipfsDataLevelThree.links[0].Cid.value);
            if(loopheadMetadata != null)
            {
                foreach(var ipfsLink in loopheadIpfsLinks)
                {
                    foreach(var loophead in ipfsLink.loopheads)
                    {
                        if(loophead.metadataCidLink == loopheadMetadataLink)
                        {
                            loophead.metadata = loopheadMetadata;
                            break;
                        }
                    }
                }
                StateHasChanged();
            }
        }

    }
}
